# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse files
.project
.settings
.cproject
.autotools

# temporary autotools files
config.*
Makefile
autom4te.cache
configure
missing
install-sh
depcomp
aclocal.m4
*.in
compile
*/.deps
*/.deps/*


# temp dir
tmp
tmp/*

/1
/RNAup
